# Segurança (Se tiver espaços quebra código do env, atenção!)

#Essas 3 config mudam de acordo com o local usado.
#True localmente para desenvolvimento.
#False em produção, assim evita respostas indesejadas em produção, ATENÇÃO!
DEBUG=False
#Depende da hospedagem esse, algumas fazem automático, localmente use sempre False.
SECURE_SSL_REDIRECT=False
#Tem um valor padrão, mas deixa 0 localmente!
SECURE_HSTS_SECONDS=0

SECRET_KEY='Sua secret key gerada aqui, se lembre de mudar em produção.'
ALLOWED_HOSTS=localhost ser for testar localmente ou a url de produção, use vírgula para separar. Exemplo: localhost,site.com.br

# DATABASE DADOS
# Essas config geralmente são disponibilizados pelo sistema usado, como o Supabase.
DATABASE_URL=Url do banco de dados de sua escolha.
# Storage usado, para armazenar imagens.
AWS_STORAGE_BUCKET_NAME=Nome do bucket
AWS_S3_ENDPOINT_URL=Url AWS
AWS_S3_REGION_NAME=Região nome
AWS_ACCESS_KEY_ID=Id de acesso
AWS_SECRET_ACCESS_KEY=Secret Key de acesso
AWS_S3_CUSTOM_DOMAIN=Domínio personalizado disponibilizado.

#Evita sobrescrever nomes no storage
AWS_S3_FILE_OVERWRITE=False
#Gerencia o acesso ao bucket, está False pelo objetivo do projeto, img públicas.
AWS_QUERYSTRING_AUTH=False